body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#time-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
}

.block {
    width: 100px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
}

    .block.available {
        background-color: white;
    }

    .block.reserved {
        background-color: grey;
        cursor: not-allowed;
    }

    .block.selected {
        background-color: green;
        color: white;
    }
    .block.available:hover {
        background-color: #b2fab4;
    }

